body {
  margin: 0 auto !important;
  background-color: rgb(188, 187, 187);

  background-size: 33.5vw;
}

table {
  margin: 0 auto;
  width: 90%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  margin-bottom: 20px;
  text-align: left;
  position: relative;
}
table,
td,
th {
  font-size: 20px;
  border-top: 1px solid #ddd;
  padding: 5px 12px;
  font-weight: 400;
  vertical-align: top;
  line-height: 30px;
  text-align: justify;
  word-wrap: break-word;
  hyphens: auto;
}

tr > td:nth-child(1) .topTable {
  background-color: #d9d9d9;
}
td:first-child {
  cursor: move;
}

th {
  cursor: pointer;
}
table tbody tr:nth-child(even) {
  background-color: #e8e8e85c;
}
button {
  font-size: 10px;
  margin: 5px;
  padding: 5px 12px;
}

.button2 {
  font-size: 10px;
  margin: 5px;
  padding: 5px 12px;
  background-color: rgba(253, 7, 7, 0.704);
}

.divText {
  display: flex;
  justify-content: flex-end;
}

/* @media (min-width: 320px) and (max-width: 768px) {
  table {
    margin: 0 auto;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 20px;
    font-size: 10px;
  }
} */

@media screen and (min-width: 375px) and (max-width: 768px) {
  table,
  td,
  th {
    width: 100%;
    font-size: 12px;
    padding: 5px;
    line-height: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  table,
  td,
  th {
    width: 100%;
    font-size: 8px;
    padding: 5px;
    line-height: 15px;
  }
}
